.article-title {
  font-weight: 700;
  color: #333;
}

.article-text {
  margin-top: 30px;
}

.article-particle {
  font-weight: 650;
  font-size: 3em;
  line-height: 1em;
}

.paragraph {
  font-size: 1.5em;
  font-weight: 700;
  border-left: 4px solid #CFB53B;
  padding-left: 10px;
  color: #333;
  margin: 20px 0;
}

.pink {
  color: pink;
}