.avatar {
    height: 80px;
}

.avatar img {
    border-radius: 50%;
    height: 80px;
    display: inline-block;
    margin-top: -24px;
}

.user-info {
    display: inline-block;
    padding: 12px;
}

.user-info {
    margin: 0;
}